[package]
name = "hys_os"
version = "0.1.0"
edition = "2024"


[dependencies]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[lib]
crate-type = ["staticlib"]
test = false
bench = false
